@font-face {
  font-family: "GillSans-HeavyItalic";
  src: url("./font/GillSansHeavyItalic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gameboy";
  src: url("./font/Gameboy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gamer";
  src: url("./font/Gamer.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixeltype";
  src: url("./font/Pixeltype.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nokia";
  src: url("./font/Nokia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  line-height: 1.4;
}

h1 {
  color: #000079;
}

h1, h2 {
  font-family: 'GillSans-HeavyItalic', sans-serif;
  padding-top: 10px;
}

h2 {
  color: #444;
  border-top: 2px dotted grey;
  display: inline-block;
  border-bottom: 2px dotted grey;
}

p {
  margin-top: 0;
}

footer {
  margin-top: 40px;
  font-size: 0.75em;
  font-weight: bold;
  color: #444;
}

button {
  padding: 2px 3px;
  padding-bottom: 3px;
  font-weight: bold;
}

button.upload {
  padding: 3px 0;
  color: blue;
}

button label {
  padding: 5px 8px;
}

button#remove-rom {
  color: red;
}

button[disabled='disabled'] {
  color: grey;
}

.text-container {
  width: 850px;
}

a {
  color: #000079;
}

a.download-link{
  color: blue;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey;
}

section {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  min-width: 850px;
}

th, td {
  text-align: left;
  padding: 5px;
}

td.overflow {
  background-color: red;
}

thead tr {
  border-bottom: 1px solid #ddd;
}

tfoot tr {
  border-top: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.settings-label {
  font-weight: bold;
  margin-right: 20px;
}

label.radio-label {
  vertical-align: middle;
  margin-right: 10px;
}

label#pixeltype {
  font-family: 'Pixeltype';
  font-size: 32px;
  line-height: 0;
  position: relative;
  top: 3px;
}

label#gameboy {
  font-family: 'Gameboy';
}

label#nokia {
  font-family: 'Nokia';
}

label#gamer {
  font-family: Gamer;
  font-size: 32px;
  line-height: 0;
  position: relative;
  top: -2px;
}

.flex-container {
  display: flex;
}

.flex-column * {
  margin-bottom: 8px;
}
