@font-face {
  font-family: "Gameboy";
  src: url("../font/Gameboy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nokia";
  src: url("../font/Nokia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PokemonGB";
  src: url("../font/Pokemon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMG-MMSA";
  src: url("../font/DMG-MMSA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TWL-IRAJ-1";
  src: url("../font/TWL-IRAJ-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  line-height: 1.4;
}

h1 {
  color: #000079;
}

h1, h2 {
  padding: 5px 0 3px 0;
  font-style: italic;
  font-weight: bold;
  text-shadow: 1px 0;
  letter-spacing: 1px;
}

h2 {
  color: #444;
  border-top: 1px solid grey;
  display: inline-block;
  border-bottom: 1px solid grey;
}

p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding-left: 10px;
}

footer {
  margin-top: 40px;
  font-size: 0.75em;
}

button {
  padding: 2px 3px;
  padding-bottom: 3px;
  font-weight: bold;
}

button.upload {
  padding: 3px 0;
  color: blue;
}

button label {
  padding: 5px 8px;
}

button#remove-rom {
  color: red;
}

button.remove-all{
  color: red;
}

button[disabled='disabled'] {
  color: grey;
}

.text-container {
  max-width: 850px;
  margin-bottom:25px;
}

a {
  color: #000079;
}

a.download-link{
  color: blue;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey;
}

section {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  min-width: 850px;
}

th, td {
  text-align: left;
  padding: 7px;
}

td.overflow {
  background-color: red;
}

td.single-rom {
  background-color: orange;
}

thead tr {
  border-bottom: 1px solid #ddd;
}

tfoot tr {
  border-top: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.settings-label {
  font-weight: bold;
  margin-right: 20px;
  min-width: 160px;
  display: inline-block;
  vertical-align: top;
}

.settings-row {
  margin-bottom: 15px;
}

label.radio-label {
  vertical-align: middle;
  margin-right: 10px;
}

label#gameboy {
  font-family: 'Gameboy';
}

label#nokia {
  font-family: 'Nokia';
}

label#pokemon {
  font-family: 'PokemonGB';
  position: relative;
  top: 3px;
}

label#gbmem {
  font-family: 'DMG-MMSA';
  text-transform: uppercase;
}

label#twliraj1 {
  font-family: 'TWL-IRAJ-1';
}

noscript {
  font-weight: bold;
  color: red;
}

.drag-target {
  height: 70px;
  max-width: 945px;
  padding: 20px;
  border: 2px dashed grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s all;
}

.drag-target.over {
  border-color: #000079;
  transform: scale(1.02, 1.05);
  cursor: grabbing;
}

.drag-target div {
  transition: 0.5s all;
}
.drag-target.over div {
  opacity: 0.5;
}

.flex-row {
  display: inline-flex;
}

.flex-item {
  max-width: 400px;
  margin-right: 20px;
}

.games-flex-item {
  min-width: 250px;
  margin-right: 20px;
}

.single-rom-download {
  margin-top: 1.5rem;
}

.hide {
  display: none;
}

.ticker-settings {
  margin-top: 0.4rem;
}

.map-note { margin-left: 0.5rem; }
.map-note span:first-child { font-size: 1.2rem; margin-right: 0.3rem; }
.map-note span:last-child { vertical-align: sub; }

#app canvas, #app img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
